:root {
  --primary-font: "Roboto", sans-serif;
  --secondary-font: "Raleway", sans-serif;
  --primary-text-color: #FFFFFF;
  --secondary-text-color: #212121;
  --primary-text-color-theme-light: #757575;
  --secondary-text-color-theme-light: #2196F3;
  --accent-color: #2F303A;
  --night-color: #000;
  --main-color: #F5F5F5;
  --third-color: #F5F4FA;
  --icon-color: #AFB1B8;
  --transition-dur-and-func: 250ms linear;
  --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  font-family: var(--primary-font);
  font-size: 14px;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
  background-color: var(--primary-text-color);
}

.picture {
  display: block;
}

.link {
  text-decoration: none;
}

ul {
  list-style: none;
}

h1,
h2,
h3,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

.modal-open-btn:focus,
.modal-open-btn {
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  background: var(--secondary-text-color-theme-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  width: 216px;
  height: 50px;
}

.modal-open-btn-hero {
  margin: auto;
  margin-top: 30px;
}

.title-conteiner {
  display: none;
  padding-top: 0px;
}
@media screen and (min-width: 1200px) {
  .title-conteiner {
    display: block;
  }
}

.section-title {
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 1.17;
  text-align: center;
}
@media screen and (min-width: 1200px) {
  .section-title {
    font-size: 36px;
    margin-bottom: 50px;
  }
}

.about-section-title {
  display: flex;
  align-items: center;
}

.about-section-title_image-picture {
  position: relative;
  overflow: hidden;
}
.about-section-title_image-picture:not(:last-child) {
  margin-right: 30px;
}

.overlay-text {
  position: absolute;
  bottom: 0;
  left: 0;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: var(--primary-text-color);
  background-color: rgba(47, 48, 58, 0.8);
  height: 70px;
  width: 370px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.team-item_team-list {
  background-color: var(--primary-text-color);
  width: 100%;
  padding-bottom: 24px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team {
  background-color: var(--third-color);
}

.team-name {
  padding-top: 30px;
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-position {
  /* padding-bottom: 30px; */
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  color: var(--primary-text-color-theme-light);
  margin-bottom: 16px;
}

.team-item {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
}

.social-list-icon {
  fill: var(--icon-color);
  transition: fill var(--transition-dur-and-func);
}
.social-list-link:hover .social-list-icon, .social-list-link:focus .social-list-icon {
  fill: var(--primary-text-color);
}

.social-list {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-text-color);
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link:hover, .social-list-link:focus {
  background-color: var(--secondary-text-color-theme-light);
}

.clients-box {
  display: flex;
  align-items: center;
  gap: 30px;
  flex-wrap: wrap;
  justify-content: center;
}

.clients-icon-box {
  width: 170px;
  height: 92px;
  border: 1px solid #AFB1B8;
  border-radius: 4px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--icon-color);
  transition: color var(--transition-dur-and-func);
  transition: border-color var(--transition-dur-and-func);
}
.clients-icon-box:hover, .clients-icon-box:focus {
  color: var(--secondary-text-color-theme-light);
  border-color: var(--secondary-text-color-theme-light);
  transition: color var(--transition-dur-and-func), border-color var(--transition-dur-and-func);
}

.clients-icon {
  display: flex;
  align-items: center;
  justify-content: center;
  fill: currentColor;
}

.footer-box {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 60px;
  align-items: center;
}

.footer-page {
  background-color: var(--accent-color);
}

.address {
  font-style: normal;
}

.contact-link .contact-maill, .contact-link .contact-phone-number {
  text-align: center;
  display: block;
  margin: 0;
}

.footer-logo {
  text-align: center;
  margin-bottom: 20px;
  margin-right: 0;
  display: block;
}

.logo_color_light {
  color: var(--primary-text-color);
}

.footer-conteiner {
  background-color: var(--accent-color);
  padding-bottom: 60px;
  padding-top: 60px;
}

.maps {
  font-weight: 400;
  line-height: 1.71;
  color: var(--primary-text-color);
  text-align: center;
}

.maps-contact-phone:not(:last-child) {
  margin-bottom: 9px;
}

.footer-sociale-list-footer {
  width: 100%;
}

.footer-sociale {
  color: var(--primary-text-color);
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 18.25px;
  text-transform: uppercase;
  display: block;
  text-align: center;
}

.social-list-icon-footer {
  fill: var(--primary-text-color);
  transition: fill var(--transition-dur-and-func);
  transition-timing-function: var(--transition-timing);
}
.social-list-link-footer:hover .social-list-icon-footer, .social-list-link-footer:focus .social-list-icon-footer {
  fill: var(--primary-text-color);
}

.social-list-footer {
  display: flex;
  justify-content: center;
  column-gap: 10px;
}

.social-list-link-footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color var(--transition-dur-and-func);
}
.social-list-link-footer:hover, .social-list-link-footer:focus {
  background-color: var(--secondary-text-color-theme-light);
}

.modal-form-field-footer {
  margin-bottom: 20px;
}

.modal-form-title-footer {
  color: var(--primary-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  margin-bottom: 18.25px;
  text-transform: uppercase;
  text-align: center;
}

.modal-form-input-footer {
  width: 100%;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: var(--accent-color);
  padding-left: 12px;
  color: var(--primary-text-color);
}

.modal-form-submit-foote {
  width: 200px;
  height: 50px;
  margin-left: 12px;
  background-color: var(--secondary-text-color-theme-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  cursor: pointer;
  border: none;
  font-style: normal;
  font-weight: 700;
  display: flex;
  font-size: 16px;
  line-height: 1.88;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: var(--primary-text-color);
  padding: 10px 28px;
  margin: 0 auto;
}

.modal-form-footer {
  display: flex;
  flex-direction: column;
}

.modal-close-icon-footer {
  margin-left: 10px;
}

.btn {
  cursor: pointer;
  font-family: var(--primary-font);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  border: none;
  padding: 6px 22px;
  border-radius: 4px;
  transition: color var(--transition-dur-and-func), background-color var(--transition-dur-and-func), box-shadow var(--transition-dur-and-func);
}
.btn:focus, .btn:hover {
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color-theme-light);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}

.btn-button {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
  column-gap: 8px;
  row-gap: 15px;
  justify-content: flex-start;
}
@media screen and (min-width: 768px) {
  .btn-button {
    justify-content: center;
  }
}

.btn-button_btn-active {
  transition: background-color var(--transition-dur-and-func);
  transition-timing-function: var(--transition-timing);
}
.btn-button_btn-active:not(:last-child) {
  margin-right: 10px;
}

.container {
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

.section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 32px;
  background-color: #3f51b5;
  z-index: 999;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.header-container {
  background-color: var(--primary-text-color);
}

.page-header {
  border: 1px solid #ECECEC;
}

.page-header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.page-navigation-logo {
  margin-right: 95px;
}

.accent {
  color: var(--secondary-text-color-theme-light);
}

.logo_color_deark {
  color: var(--night-color);
}

.envelope-maill {
  width: 16px;
  height: 12px;
  margin-right: 10px;
  fill: currentColor;
}

.envelope-phone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
  fill: currentColor;
}

.menu-contact-item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.navigation {
  display: flex;
  align-items: center;
}

.menu-list {
  display: none;
}

.menu-contact {
  display: none;
}

.menu-list__item:not(:last-child) {
  margin-right: 50px;
}

.menu-list__link {
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
  transition: color var(--transition-dur-and-func);
  position: relative;
  display: inline-block;
  padding-bottom: 32px;
  padding-top: 32px;
}
.menu-list__link:hover, .menu-list__link:focus {
  color: var(--secondary-text-color-theme-light);
}
.menu-list__link.current::after {
  content: "";
  position: absolute;
  height: 4px;
  width: 100%;
  background-color: var(--secondary-text-color-theme-light);
  border-radius: 2px;
  bottom: 0;
  left: 0;
}

.current {
  color: var(--secondary-text-color-theme-light);
}

.contact-maill {
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  display: flex;
  align-items: center;
  transition: color var(--transition-dur-and-func);
  margin-left: auto;
  margin-right: 48px;
}
.contact-maill:hover, .contact-maill:focus {
  color: var(--secondary-text-color-theme-light);
  fill: var(--secondary-text-color-theme-light);
}

.contact-phone-number {
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  display: flex;
  align-items: center;
  transition: color var(--transition-dur-and-func);
}
.contact-phone-number:hover, .contact-phone-number:focus {
  color: var(--secondary-text-color-theme-light);
  fill: var(--secondary-text-color-theme-light);
}

.burger-button {
  width: 40px;
  height: 40px;
  border: none;
  background-color: transparent;
}

.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  background-color: transparent;
  border: none;
  padding: 0;
}
.menu-button:hover, .menu-button:focus {
  fill: var(--secondary-text-color-theme-light);
  cursor: pointer;
  transition: var(--transition-dur-and-func);
  outline: none;
}

.menu-container {
  background-color: #fff;
}

.menu-list-burger__link {
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 1.18px;
  letter-spacing: 0.02em;
  color: #212121;
}

.menu-list-burger__item {
  margin-bottom: 32px;
}

.modal-burger {
  padding-left: 40px;
}

.navigation-burger {
  padding-top: 48px;
}

.menu-list-burger__link:hover,
.menu-list-burger__link:focus {
  color: var(--secondary-text-color-theme-light);
}

.menu-social-burger {
  display: flex;
}

.social-burger {
  color: var(--secondary-text-color-theme-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22px;
  letter-spacing: 0.02em;
}

.menu-social-item-burger:not(:last-child) {
  padding-right: 20px;
}

.hero {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  background-color: #C4C4C4;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  text-align: center;
  background-image: url("../images/hero/mobile-hero-img.jpg");
}
@media screen and (min-device-pixel-ratio: 2) and (max-width: 767px), screen and (min-resolution: 192dpi) and (max-width: 767px), screen and (min-resolution: 2dppx) and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/mobile-hero-img@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 768px), screen and (min-resolution: 192dpi) and (min-width: 768px), screen and (min-resolution: 2dppx) and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/tablet-hero-img@2x.jpg);
  }
}
@media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px), screen and (min-resolution: 192dpi) and (min-width: 1200px), screen and (min-resolution: 2dppx) and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/desktop-hero-img@2x.jpg);
  }
}
@media screen and (min-width: 480px) {
  .hero {
    height: 400px;
    padding-top: 118px;
    padding-bottom: 118px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/tablet-hero-img.jpg");
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    max-width: 1600px;
    height: 600px;
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url("../images/hero/desktop-hero-img.jpg");
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

.hero_title {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 20px;
  line-height: 1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .hero_title {
    font-size: 26px;
    width: 360px;
  }
}

.work-icon {
  width: 70px;
  height: 70px;
  fill: var(--secondary-text-color);
}

.work-contact-icon-wrapper {
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--third-color);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.work-list {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.work-list_work-item {
  width: 100%;
}

.work-about-title {
  margin-bottom: 10px;
  line-height: 1.14;
  text-transform: uppercase;
  font-size: 14px;
  text-align: center;
}

.work-about-text {
  line-height: 1.71;
  color: var(--primary-text-color-theme-light);
}

.project-list_project-item {
  background-color: var(--primary-text-color);
  border: 1px solid #EEEEEE;
  width: 100%;
}
.project-list_project-item:hover {
  cursor: pointer;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.text-project-title {
  padding: 24px;
}

.picture {
  max-width: 100%;
  height: auto;
}

.section-main-container {
  padding-left: auto;
  padding-right: auto;
}

.project-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.active {
  background-color: var(--secondary-text-color-theme-light);
  color: var(--primary-text-color);
}

.project-title {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
  color: var(--secondary-text-color);
}

.project-item-container {
  text-decoration: none;
}
.project-item-container:hover .overlay, .project-item-container:focus .overlay {
  transform: translateY(0%);
}

.tagline {
  font-size: 16px;
  line-height: 1.88;
  color: var(--primary-text-color-theme-light);
}

.project-overlay-picture {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(33, 150, 243, 0.9);
  color: var(--primary-text-color);
  padding: 63px 24px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  height: 100%;
  width: 100%;
  /* overflow: auto; */
  transform: translateY(100%);
  transition: transform 250ms linear;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transition: opacity 250ms ease, visibility 250ms ease;
  overflow: scroll;
}
.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
  /* height: 581px; */
  background-color: var(--primary-text-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
  border-radius: 50%;
  width: 30px;
  height: 30px;
  padding: 0;
}
.modal-close-btn:hover, .modal-close-btn:focus {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  fill: var(--secondary-text-color-theme-light);
  cursor: pointer;
  transition: var(--transition-dur-and-func);
  outline: none;
}

.modal-form-title {
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 12px;
  color: var(--secondary-text-color);
}

.modal-form {
  display: flex;
  flex-direction: column;
}

.modal-form-input {
  width: 100%;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 42px;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-input:focus {
  outline: none;
  border-color: var(--secondary-text-color-theme-light);
}

.modal-form-field-desc {
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: var(--primary-text-color-theme-light);
  display: block;
  margin-bottom: 4px;
}

.modal-form-field {
  margin-bottom: 10px;
}

.modal-form-field-desc-message {
  margin-bottom: 20px;
}

.modal-form-input-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  transition: fill var(--transition-dur-and-func);
}
.modal-form-input:focus + .modal-form-input-icon {
  fill: var(--secondary-text-color-theme-light);
}

.modal-form-input-wrapper {
  position: relative;
  display: block;
}

.modal-form-message {
  display: block;
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color var(--transition-dur-and-func);
}
.modal-form-message:focus {
  outline: none;
  border-color: var(--secondary-text-color-theme-light);
}
.modal-form-message::placeholder {
  font-style: normal;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.modal-form-check {
  position: absolute;
  appearance: none;
}

.modal-form-check-field {
  display: flex;
  margin-bottom: 30px;
  align-items: center;
  text-align: center;
  justify-content: center;
}

.modal-form-own-checkbox {
  border: 2px solid #212121;
  border-radius: 2px;
  width: 16px;
  height: 15px;
  margin-right: 8.38px;
}
.modal-form-check:checked + .modal-form-own-checkbox {
  background-color: var(--secondary-text-color-theme-light);
  border: none;
  transition: background-color var(--transition-dur-and-func);
}
.modal-form-check:focus + .modal-form-own-checkbox {
  border-color: var(--secondary-text-color-theme-light);
  transition: var(--transition-dur-and-func);
}

.modal-form-own-checkbox-icon {
  display: none;
}
.modal-form-check:checked + .modal-form-own-checkbox .modal-form-own-checkbox-icon {
  display: block;
}

.modal-form-submit {
  border: none;
  width: 200px;
  height: 50px;
  align-self: center;
  padding: 10px 52px;
  border-color: var(--secondary-text-color-theme-light);
  color: var(--primary-text-color);
  background-color: var(--secondary-text-color-theme-light);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  font-style: normal;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  cursor: pointer;
}

.modal-form-own-checkbox-text {
  font-style: normal;
  font-size: 5px;
  line-height: 1.7;
  color: var(--primary-text-color-theme-light);
}
@media screen and (min-width: 480px) {
  .modal-form-own-checkbox-text {
    font-size: 12px;
  }
}

.modal-form-own-checkbox-contract {
  font-style: normal;
  font-size: 5px;
  line-height: 1.7;
  text-decoration-line: underline;
  color: var(--secondary-text-color-theme-light);
}
@media screen and (min-width: 480px) {
  .modal-form-own-checkbox-contract {
    font-size: 12px;
  }
}/*# sourceMappingURL=main.css.map */