.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
    transition: opacity 250ms ease, visibility 250ms ease;
    
    &.is-hidden {
      visibility: hidden;
      opacity: 0;
      pointer-events: none;
    }
  }
