  
  
  .header-container {
    background-color: var(--primary-text-color);
   }
  
  .page-header {
    border: 1px solid #ECECEC;
   }
  
  .page-header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
  }

  .logo {
    
    font-family: var(--secondary-font);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    
  }

  .page-navigation-logo {
    margin-right: 95px;
  }

  .accent {
    color: var(--secondary-text-color-theme-light);
  }

  .logo_color_deark {
    color: var(--night-color);
  }
  
  
  .envelope-maill {
    width: 16px;
    height: 12px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  
  
  
  
  .envelope-phone {
    width: 10px;
    height: 16px;
    margin-right: 10px;
    fill: currentColor;
  }
  
  .menu-contact-item {
    display: flex; 
    justify-content: center; 
    align-items: center; 
    @media screen and (min-width: 768px) {
      display: block;
   
     
      
    }
  }
  
  
  .navigation {
    display: flex;
    align-items: center;
  }
  
  
  .menu-list {
    
    display: none;
    @media screen and (min-width: 768px) {
    display: flex;
    align-items: center;
    
  }
  
  @media screen and (min-width: 1200px) {
  
      
    }

  }
  
  .menu-contact {
    
    display: none;
    @media screen and (min-width: 768px) {
      display: block;
      align-items: center;
      justify-content: center;
      margin-left: 50px;
    }
    
    @media screen and (min-width: 1200px) {
      margin-left: auto;
        display: flex;
       
    }
  
  } 
  
  
  
  
  .menu-list__item:not(:last-child) {
    margin-right: 50px;
  }
  
  .menu-list__link {
    font-family:  var(--primary-font);
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--secondary-text-color);
    transition: color var(--transition-dur-and-func);
    position: relative;
    display: inline-block;
    padding-bottom: 32px;
    padding-top: 32px;
  
      &:hover,
      &:focus {
      color: var(--secondary-text-color-theme-light);
      }
      
      &.current::after {
      content:"";
      position: absolute;
      height: 4px;
      width: 100%;
      background-color: var(--secondary-text-color-theme-light);
      border-radius: 2px;
      bottom: 0;
      left: 0;
      }
    }
  
  .current {
    color: var(--secondary-text-color-theme-light);
  }
  
  
  
  .contact-maill {
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  display: flex;
  align-items: center;
  transition: color var(--transition-dur-and-func);
  margin-left: auto;
  margin-right: 48px;

  &:hover,
  &:focus {
  color: var(--secondary-text-color-theme-light);
  fill: var(--secondary-text-color-theme-light);
  }


  }


 
  .contact-phone-number {
  font-family: var(--primary-font);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  color: var(--primary-text-color-theme-light);
  display: flex;
  align-items: center;
  transition: color var(--transition-dur-and-func);
  @media screen and (min-width: 768px) {
    margin-top: 10px;
  }
  
  @media screen and (min-width: 1200px) {
    align-items: center;
    justify-content: center;
    display: inline;  
  }
 

  &:hover,
  &:focus {
   color: var(--secondary-text-color-theme-light);
   fill: var(--secondary-text-color-theme-light);
   }
  }


  .burger-button {
    width: 40px;
    height: 40px;
    border: none;
    background-color: transparent;

    @media screen and (min-width: 768px) {
  
      display: none;
    
  }
  
  
  }

  
 
 
.menu-button {
  position: absolute;
  top: 10px;
  right: 15px;
  
  background-color: transparent;

  border: none;
 
  padding: 0;
 
  &:hover,
  &:focus {
   
    fill: var(--secondary-text-color-theme-light);
    cursor: pointer;
    transition: var(--transition-dur-and-func);
    outline: none;
  }
 
 }


 .menu-container {
  background-color: #fff;
 
 }
 .menu-list-burger__link {

font-style: normal;
font-weight: 500;
font-size: 40px;
line-height: 1.18px;
letter-spacing: 0.02em;

color: #212121;

 }

 .menu-list-burger__item {
  margin-bottom: 32px;
 }

 

 .modal-burger {
 padding-left: 40px;
 }

 .navigation-burger {
  padding-top: 48px;
  // padding-bottom: 48px;
 }

 .menu-list-burger__link:hover,
 .menu-list-burger__link:focus {
  color: var(--secondary-text-color-theme-light);
 }

 .menu-social-burger {
  display: flex;
  margin-top: 64px;
  
  
 }

 .social-burger {
  color: var(--secondary-text-color-theme-light);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.22;
  letter-spacing: 0.02em;  
 }

 .menu-social-item-burger:not(:last-child){
  padding-right: 20px;
 }

.menu-contact-burger {
  margin-top: 100px;
}

.contact-maill-burger {
font-weight: 500;
font-size: 24px;
line-height: 1.17;
letter-spacing: 0.02em;
color: var(--primary-text-color-theme-light);

}



.contact-phone-number-burger {
font-weight: 500;
font-size: 34px;
line-height: 1.18;
letter-spacing: 0.02em;
color: var(--secondary-text-color-theme-light);

}

.menu-contact-item-burger {
  margin-top: 302px;
}

