
.hero {
    width: 100%;
    // height: 600px;
    margin-left: auto;
    margin-right: auto;
    background-color: #C4C4C4; 
    // background-image: linear-gradient(
    //   to right,
    //   rgba(47, 48, 58, 0.4),
    //   rgba(47, 48, 58, 0.4)),
    //   url('../images/hero.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
    // padding-top: 200px;
    // padding-bottom: 200px;
    background-image: url('../images/hero/mobile-hero-img.jpg');
    @media screen and (min-device-pixel-ratio: 2) and (max-width: 767px),
    screen and (min-resolution: 192dpi) and (max-width: 767px),
    screen and (min-resolution: 2dppx) and (max-width: 767px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/mobile-hero-img@2x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 768px),
    screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/tablet-hero-img@2x.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2) and (min-width: 1200px),
    screen and (min-resolution: 192dpi) and (min-width: 1200px),
    screen and (min-resolution: 2dppx) and (min-width: 1200px) {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/desktop-hero-img@2x.jpg);
  }
    @media screen and (min-width: 480px) {
      // max-width: 480px;
      height: 400px;
      // margin-left: auto;
      // margin-right: auto;
      // background-color: #C4C4C4; 
    
      // background-repeat: no-repeat;
      // background-position: center;
      // background-size: cover;
      // text-align: center;
      padding-top: 118px;
      padding-bottom: 118px;
      
    }

    @media screen and (min-width: 768px) {
        background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)),
        url("../images/hero/tablet-hero-img.jpg");
    }




    
    @media screen and (min-width: 1200px) {
      max-width: 1600px;
      height: 600px;
      background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)),
      url('../images/hero/desktop-hero-img.jpg');
      padding-top: 200px;
      padding-bottom: 200px; 
 
  }
}


 
  
  
  
  
  
  // .hero {
  //   @media screen and (min-widht: 480px) {
  //     height: 600px;
  //     margin-left: auto;
  //     margin-right: auto;
  //     background-color: #C4C4C4; 
  //     background-image: url('../images/hero/mobile-hero-img.jpg');
  //     background-repeat: no-repeat;
  //     background-position: center;
  //     background-size: cover;
  //     text-align: center;
  //     padding-top: 118px;
  //     padding-bottom: 118px;
  //   }
    
  // }


// @media screen and (min-widht: 768px) {
//   .hero {
//     background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)),
//       url("../images/hero/tablet-hero-img.jpg");
     
//   }
// }

// @media screen and (min-widht: 1200px) {
  
//     background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)),
//       url('../images/hero/desktop-hero-img.jpg');
//       padding-top: 200px;
//       padding-bottom: 200px;
  
 
    
// }




// .hero {
//     max-width: 1600px;
//     height: 600px;
//     margin-left: auto;
//     margin-right: auto;
//     background-color: #C4C4C4; 
//     background-image: linear-gradient(
//       to right,
//       rgba(47, 48, 58, 0.4),
//       rgba(47, 48, 58, 0.4)),
//       url('../images/hero.jpg');
//     background-repeat: no-repeat;
//     background-position: center;
//     background-size: cover;
//     text-align: center;
//     padding-top: 200px;
//     padding-bottom: 200px;
//   }
  
  // .button.active {
  //   background-color: var(--secondary-text-color-theme-light);
  //   color: var(--primary-text-color);
  //   }
  
  
  .hero_title {
  width: 220px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-family: var(--primary-font);
  font-weight: 900;
  font-size: 26px;
  line-height:1.615;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: var(--primary-text-color);
  @media screen and (min-width:480px) {
    font-size: 26px;
    width: 360px;
  }
  }