.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    /* height: 581px; */
    background-color: var(--primary-text-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    padding: 40px;
  }
  
  .modal-close-btn {
    position: absolute;
    top: 8px;
    right: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    border: 1px solid rgba(0, 0, 0, 0.1);
    /* box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); */
    border-radius: 50%;
    width: 30px;
    height: 30px;
    padding: 0;

    &:hover,
    &:focus {
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      fill: var(--secondary-text-color-theme-light);
      cursor: pointer;
      transition: var(--transition-dur-and-func);
      outline: none;
    }
   
  }
  
 
  
  .modal-form-title {
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    margin-bottom: 12px;
    color: var(--secondary-text-color);
  }
  
  .modal-form {
    display: flex;
    flex-direction: column;
  }
  
  .modal-form-input {
    width: 100%;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 42px;
    transition: border-color var(--transition-dur-and-func);

    &:focus {
        outline: none;
        border-color: var(--secondary-text-color-theme-light);
      }


  }
  
 
  
  .modal-form-field-desc {
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: var(--primary-text-color-theme-light);
    display: block;
    margin-bottom: 4px;
  }
  
  .modal-form-field {
    margin-bottom: 10px;
  }
  
  .modal-form-field-desc-message {
    margin-bottom: 20px;
  }
  
  .modal-form-input-icon {
    display: block;
    position: absolute;
    top: 50%;
    left: 12px;
    transform: translateY(-50%);
    transition: fill var(--transition-dur-and-func);

    .modal-form-input:focus + & {
      fill: var(--secondary-text-color-theme-light);
     }
  }
  
  .modal-form-input-wrapper {
    position: relative;
    display: block;
  }
  
  
  
  .modal-form-message {
    display: block;
    width: 100%;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;
    resize: none;
    transition: border-color var(--transition-dur-and-func);

    &:focus {
        outline: none;
        border-color: var(--secondary-text-color-theme-light);
      }

    &::placeholder {
   
        font-style: normal;
       
        font-size: 12px;
        line-height: 1.17;
        letter-spacing: 0.01em;
        color: rgba(117, 117, 117, 0.5);
      }  

      
  }
  
  
  .modal-form-check {
    position: absolute;
    appearance: none;
  }
  
  
  
  .modal-form-check-field {
    display: flex;
    margin-bottom: 30px;
    align-items: center;
    text-align: center;
    justify-content: center;
  }
  
  
  
//   .modal-close-btn:focus {
//     outline: none;
//   }
  
 
  
  .modal-form-own-checkbox {
    border: 2px solid #212121;
    border-radius: 2px;
    width: 16px;
    height: 15px;
    margin-right: 8.38px;

    .modal-form-check:checked + & {
      background-color: var(--secondary-text-color-theme-light);
      border: none;
      transition: background-color var(--transition-dur-and-func);
    }

    .modal-form-check:focus + & {
      border-color: var(--secondary-text-color-theme-light);
      transition: var(--transition-dur-and-func);
     }
    
  }
  
  .modal-form-own-checkbox-icon {
    display: none;

    .modal-form-check:checked + .modal-form-own-checkbox & {
      display: block;
    }
    
  }
  
  
  
  
  
  
  
  
  .modal-form-submit {
   border: none;
   width: 200px;
   height: 50px;
   align-self: center;
   padding: 10px 52px;
   border-color: var(--secondary-text-color-theme-light);
   color: var(--primary-text-color);
   background-color: var(--secondary-text-color-theme-light);
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
   border-radius: 4px;
  
   font-style: normal;
   
   font-size: 16px;
   line-height: 1.88;
  
   display: flex;
   align-items: center;
   text-align: center;
   letter-spacing: 0.06em;
   cursor: pointer;
  }
  
  .modal-form-own-checkbox-text {
   
    font-style: normal;
  
    font-size: 14px;
    line-height: 1.7;
   
    color: var(--primary-text-color-theme-light);
  }
  
  .modal-form-own-checkbox-contract {
    
    font-style: normal;
    
    font-size: 14px;
    line-height: 1.7;
  
    text-decoration-line: underline;
    color: var(--secondary-text-color-theme-light);
  }