// .container {
//     width: 1200px;
//     margin-left: auto;
//     margin-right: auto;
//     padding-right: 15px;
//     padding-left: 15px;
//   }

.container {
  // width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  
}

@media screen and (min-widht: 480px) {
  .container {
    width: 448px;
    margin-left: auto;
    margin-right: auto;
  } 
}

@media screen and (min-widht: 768px) {
  .container {
    width: 720px;
  }
}

@media screen and (min-widht: 1200px) {
  .container {
    width: 1200px;
  }
}