

body {
    font-family: var(--primary-font);
    font-size: 14px;
    letter-spacing: 0.03em;
    color: var(--secondary-text-color);
    background-color: var(--primary-text-color);
  }

  .picture {
    display: block;
  }
  
  .link {
    text-decoration: none; 
  }
  ul {
    list-style: none;
  }