:root {
    --primary-font: 'Roboto', sans-serif;
    --secondary-font: 'Raleway', sans-serif;
    --primary-text-color: #FFFFFF;
    --secondary-text-color: #212121;
    --primary-text-color-theme-light: #757575;
    --secondary-text-color-theme-light: #2196F3;
    --accent-color: #2F303A;
    --night-color:  #000;
    --main-color: #F5F5F5;
    --third-color: #F5F4FA;
    --icon-color: #AFB1B8;
    --transition-dur-and-func: 250ms linear;
    --transition-timing: cubic-bezier(0.4, 0, 0.2, 1);
  }